body {
  margin: 0;
  padding: 0;
  background-color: #001b48;
}
* {
  font-family: "Amarante", cursive;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Amarante" cursive;
}
html::-webkit-scrollbar {
  display: none;
}
